.body {
  background-image: url(./images/yellow-rectangular-wooden-box-drawn-face-outline-with-chalk-blackboard.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-family: "Lora", serif;
}

.container1 {
  margin-left: 37%;
  margin-top: 3%;
  border: 2px solid yellow;
  padding: 20px;
  text-align: left;
  color: white;
  font-size: x-large;
  backdrop-filter: blur(15px);
  border-radius: 25px;
  width: 50%;
  z-index: 15;
  font-weight: bold;
}

.container1:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-left: 57%;
  margin-top: 15px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: ghostwhite;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: tomato;
  font-size: large;
}

.genbtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-left: 20%;
  margin-top: 5%;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: gray;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: yellow;
  font-size: large;
}

.loadpage {
  margin-top: 20px;
  width: 40%;
  margin-left: 28%;
  padding: 10px;
  text-align: center;
  color: yellow;
  font-size: xx-large;
}

.loadpage {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-right: 5%;
  }
}

.themecolor {
  color: yellow;
  font-weight: 900;
  font-size: x-large;
}

.navbar-inner {
  background-color: transparent;
}

.themecolor:hover {
  color: white;
}

.genbtn:hover {
  color: tomato;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transform: scale(1.1);
}

.backbtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-left: 57%;
  margin-top: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: gray;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: yellow;
  font-size: large;
}

.mainpage {
  color: white;
  position: absolute;
  width: 40%;
  height: 20%;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-size: xx-large;
  align-content: center;
}
